@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

// Variables
$roboto: 'Roboto', sans-serif;
$eggshell-white: #F0EAD6;
$background-grey: #303952;

body {
    background-color: $background-grey;
    .titlebox {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: #F0EAD6;
            font-family: $roboto;
            font-size: 28;
            font-weight: 400;
        }
    }
}